.btn{
height: 54px;
display: inline-flex;
padding: 0 30px;
border: none;
align-items: center;
border-radius: 10px;
font-weight: 500;
background-color: transparent;
cursor: pointer;
}

.btn-primary{
    background-color: var(--primary);
    color: #fff;
}